@font-face {
  font-family: 'Gotham Book';
  src: url('./fonts/gotham-book.woff2') format('woff2'),
      url('./fonts/gotham-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothamblack';
  src: url('./fonts/gotham-black.woff2') format('woff2'),
      url('./fonts/gotham-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Gotham Book';
  color: #005F83;
  max-width: 1920px;
  margin: auto;
  font-size: 14px;
}
.info {
  padding: 50px 0;
}
.info-fw-bold {
  font-family: 'gothamblack';
}
.info-bg-brand{
  background-color: #005F83 !important;
}
.info-bg-brand-dark{
  background-color: #003d54 !important;
}
.info-bg-light{
  background-color: #f5f8fa !important;
}
.info-bg-yellow{
  background-color: #ffe102 !important;
}
.text-brand {
  color: #005F83;
}
.text-brand-light {
  color: #2898c0;
}
.text-brand-yellow {
  color: #FFE102;
}
.text-brand-light{
  color: #9cc9da !important;
}
.text-light{
  color: #62748e !important;
}
.text-red{
  color: #e7000b !important;
}
.text-green{
  color: #00a63e !important;
}
.text-gradient {
  background: linear-gradient(90.4deg, #00BFFF 0.77%, #56DB46 100.09%);
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
}
.info-gradient-btn {
  background: linear-gradient(90.4deg, #00BFFF 0.77%, #56DB46 100.09%);
  color: #fff !important;
  border: 0;
  transition: .3s ease-in-out;
}
.info-gradient-btn:hover{
    transform: scale(1.1);
}
.info-gradient-bg {
  background: linear-gradient(99.4deg, #00BFFF 7.17%, #45DB33 89.85%);
}
.info-btn-brand{
  background: #005F83;
  color: #fff !important;
  border: 1px solid #005F83 !important;
  transition: 0.3s ease;
}
.info-btn-brand:hover{
  background: #fff;
  color: #005F83 !important;
  border: 1px solid #005F83 !important;
}
.info-btn-outline{
  background: #ffffff00;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.info-btn-outline:hover{
  background: #fff;
  color: #005F83 !important;
  border: 1px solid #005F83 !important;
}
.info-btn-yellow{
  background: #ffe102;
  color: #005F83 !important;
  border: 1px solid #ffe102 !important;
  transition: .3s all ease;
}
.info-btn-yellow:hover{
  background: #ffe102;
  color: #005F83 !important;
  border: 1px solid #ffe102 !important;
  transform: scale(1.1);
}
.info-tab-bg .info-btn-white:hover{
  border: 1px solid #ffffff !important;
}
.info-btn-quote {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 1;
}
.info-btn-quote:hover {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  color: #005373;
  background: #fff;
  z-index: 1;
}

.info-btn-quote::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 50px;
  background: linear-gradient(180deg, #00BFFF 0%, #45DB33 100%);
  -webkit-mask: 
    linear-gradient(white 0 0) content-box, 
    linear-gradient(white 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.info-btn-quote:hover::before{
  padding: 0px;
}


.navbar-nav li {
	font-size: 1rem;
    position: relative;
}

.navbar-nav li:not(:last-child) {
	margin-right: 25px
}

.navbar-nav li a {
	color: #000000;
	font-weight: 200 !important;
    position: relative;
    transition: 0.3s ease-in-out;
}

.navbar-nav li a:hover {
	color: #ffe102 !important
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
	color: #ffe102;
	font-weight: 500 !important
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
	color: #ffe102 !important
}

.navbar-nav li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffe102;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.navbar-nav li a:hover::after {
    transform: scaleX(1);
}

.badge{
  background: #e4f2f7 !important;
}
.badge p{
font-size: .8rem;
}
.badge.badge-white{
  background: #ffffff !important;
}
.info-bg-brand .badge{
  background: #ffffff30 !important;
}
.badge.bg-yellow{
  background: #ffe102 !important;
  color: #005F83 !important;
}


.video-frame {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 5px 5px 6px 0px #00000033;
}
.video-frame embed, .video-frame iframe, .video-frame object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.youtube-wrapper img {
    object-fit: cover;
    width: 100%;
}
 .play-button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70px;
    height: 50px;
    cursor: pointer;
}


#slide-text::after {
    content: "|";
    margin-left: 4px;
    animation: blink 1.2s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}


.bg-brand .info-card{
    background: #ffffff20;
    padding: 20px;
    border: 1px solid #ffffff4c
}

.hero-footer-element{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.info-box-wrapper{
    border: 1px solid #005f83;
    background: #005F83;
}

.info-before-card{
    padding: 15px;
    border: 1px solid #cad5e2;
    width: fit-content;
}

.info-before-content .badge{
    background: #314158 !important;
}
.info-before-icon{
    background: #e2e8f0;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.info-before-icon svg{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(20%) saturate(977%) hue-rotate(175deg) brightness(91%) contrast(88%);
}

.info-before-left{
    padding-left: 50px;
}

.info-before-icon{
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.info-before-list li:not(:last-child){
  margin-bottom: 15px;
}
.info-before-list li {
  display: flex;
}
.info-before-list li:nth-child(odd) {
  justify-content: flex-start; /* Left */
}
.info-before-list li:nth-child(even) {
  justify-content: flex-end; /* Right */
}

.info-white-logo{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
}


.info-after-card{
    padding: 15px;
    width: 100%;
}
.info-after-content .badge{
    background: #005f83 !important;
}
.info-after-list li{
    position: relative;
}
.info-after-list li:not(:last-child){
    margin-bottom: 30px;
}
.info-after-list li:not(:last-child)::after{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    content: '\f063';
    height: 10px;
    width: 10px;
    color: #005F83;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

.info-after-card.border-blue{
    border-left: 3px solid #005F83;
}
.info-after-icon.bg-blue{
    background: #005F83;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.info-after-icon.bg-blue svg{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(101deg) brightness(106%) contrast(101%);
}

.info-after-left{
    padding-left: 50px;
}
.info-after-icon{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.info-card-white {
    padding: 15px;
    border: 1px solid #cad5e2;
}
.border-yellow{
    border-left: 3px solid #ffe102;
}
.info-after-icon.bg-yellow{
    background: #ffe102;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.info-after-icon.bg-yellow svg{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(98%) saturate(1639%) hue-rotate(174deg) brightness(103%) contrast(102%);
}
.info-after-card.bg-blue{
    background: #005f83 !important;
}


.info-card-box{
    background: #eef4f7;
    padding: 20px;
    border: 1px solid #cad5e2;
    border-radius: 20px;

}
.info-brand-content{
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #005F83;
  border-radius: 50%;
}
.info-note-list li{
    position: relative;
    padding-left: 30px;
}
.info-note-list li::before{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    content: '\f058';
    height: 18px;
    width: 18px;
    left: 0;
    top: 0;
    color: #005F83;
}
.info-note-list li:not(:last-child){
    margin-bottom: 8px;
}

.badge-element{
  position: absolute;
  top: 20px;
  right: 20px;
}


.ul-nav{
  width: 100%;
  display: block;
}
.info-nav-card{
  width: 100%;
}
.ul-nav li:not(:last-child){
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .ul-nav li{
    margin-right: 0;
  }
  .nav-pills-mobile-slider .slick-list{
    padding-right: 0;
  }
  .info-nav-card .info-list-content {
    position: relative;
  }
}
.info-nav-card, .info-tab-body-content{
  border: 1px solid #C8E6F0;
  /* padding: 10px; */
  border-radius: 10px;
  text-decoration: none;
}
/* .info-tab-body-content{
  padding: 20px;
} */

.info-nav-card.active{
  background: #ffdb01;
  border: 1px solid #ffdb01;
}
@media (max-width: 767px) {
  /* .nav-card-bg{
    background-color: #C8E6F0;
  } */
  .info-nav-card, .info-tab-body-content{
    border: 1px solid #ffffff00;
  }
  .info-nav-card.active{
    border: 0 !important;
  }
  .ul-nav{
    border-bottom: 1px solid #005F83 !important;
  }
  .ul-nav li:not(:last-child){
    margin-bottom: 0 !important;
  }
  .info-nav-card.active .badge-element {
    opacity: 0 !important;
  }
  .btn.w-100{
    width: auto !important;
  }
}



.info-nav-card{
  padding: 20px;
  background: #ffffff20;
  border: 1px solid #ffffff20;
  position: relative;
}
.info-nav-card .info-brand-content{
  background: #317e9b;
  border: 1px solid #317e9b;
  position: relative;
}
.info-list-header{
  padding-left: 80px;
}
.info-list-content .info-brand-content{
  position: absolute;
  left: 0;
  top: 0;
}
.info-nav-card.active .info-brand-content{
  background: #005F83 !important;
}
.info-nav-card.active .info-list-header{
  color: #005F83 !important;
}
.info-nav-card.active h5{
  color: #ffdb01 !important;
}

.badge.badge-blue{
  background: #005F83 !important;
  font-size: 0.8rem !important;
}
.badge.badge-blue p{
  font-size: 0.7rem !important;
  font-weight: bold;
}
.badge.badge-blue.badge-element {
  position: absolute;
  top: 15px;
  right: 15px;
}
.info-nav-card .badge-element{
  opacity: 0;
}
.info-nav-card.active .badge-element{
  opacity: 1;
}

.info-tab-body-content{
  background-color: #fff;
}
.info-tab-body-content .info-brand-content{
  width: 40px;
  height: 40px;
}
.info-brand-content svg{
  filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%) hue-rotate(242deg) brightness(103%) contrast(103%);
  width: 20px;
}

.info-tab-body-content .info-list-header {
  padding-left: 60px;
}

.info-header-line{
  position: relative;
  width: fit-content;
}
.info-header-line::after{
  position: absolute;
  content: '';
  height: 4px;
  width: 50%;
  background: #005F83;
  border-radius: 20px;
  bottom: 0;
  left: 0;
}
.info-note-card {
    background: #fff;
    padding: 20px;
    border-left: 4px solid #005F83;
    border-radius: 15px;
}
.info-tab-ul li:not(:last-child){
  margin-bottom: 15px;
}

.info-tab-content .info-header {
  position: relative;
  padding: 20px;
}
.info-tab-content .info-header::after{
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background: #00000033;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.info-tab-content .info-body{
  padding: 20px;
}



.tab-slider-wrapper .nav-pills .nav-link.active, .tab-slider-wrapper .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #005f83;
}

.tab-slider-wrapper .nav-pills .nav-link {
  background: #F3F4F6;
  color: #005f83;
  font-size: 0.9rem;
  border: 1px solid #00000020 !important;
}
.info-nav-tabs li:not(:last-child){
  margin-right: 10px;
}
.info-tab-card{
  background: #ffffff;
  border: 1px solid #00000020;
  border-radius: 20px;
  padding: 20px;
}

.info-demo-list .info-demo-btn{
  background: #f1f5f9;
  border: 1px solid #00000020;
}
.info-demo-list .info-demo-btn:hover{
  background: #ffe10240;
  border: 1px solid #ffe102;
  cursor: auto;
}
.info-demo-list{
  display: flex;
}
.info-demo-list li:not(:last-child){
  margin-right: 10px;
}

.info-tab-card .info-list-content .info-brand-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.info-form{
  border: 1px solid #00000020;
}

.info-icon-card svg{
  filter: brightness(0) saturate(100%) invert(80%) sepia(80%) saturate(1591%) hue-rotate(353deg) brightness(102%) contrast(104%);
}

.info-hr{
  border-color: #fff;
}
.info-policy-links {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 0;
}

.info-policy-links a{
  color: #9cc9da !important;
}
.info-policy-links a:hover{
  color: #ffffff !important;
}
















/* Form Color */
.hbspt-form input::placeholder,.hbspt-form textarea::placeholder {
  color: #2898C0;
}
.hbspt-form input[type="text"], .hbspt-form input[type="email"], .hbspt-form input[type="tel"], .hbspt-form select{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2898C0 !important;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #2898C0;
  width: 100% !important;
  height: 40px !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2898C0;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #2898C0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.hbspt-form fieldset, .hbspt-form .hs-input {
  margin: 0 !important;
  width: 100% !important;
}
.hbspt-form .hs-button {
  padding: 0.5rem 1.5rem;
  border-radius: 2.5rem;
  background: linear-gradient(to right, #02C0FA, #43DA38) !important;
  border: 0 !important;
  min-width: 175px;
  color: #fff;
  font-family: 'Gotham Book';
  font-size: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.hs_submit {
  margin-top: 25px !important;
  display: flex;
  justify-content: center;
}
.hbspt-form .inputs-list label p, .hbspt-form .inputs-list label a {
  color: #2898C0;
  font-size: 0.8rem;
}
.hbspt-form .inputs-list label {
  color: #ff4444;
  font-size: 0.8rem;
}
.inputs-list{
  padding: 0;
  list-style: none;
}
.hs-form-booleancheckbox-display{
  position: relative;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
}
.hs-form-booleancheckbox-display .hs-input{
  position: absolute;
  content: '';
  left: 0 !important;
  width: auto !important;
}
.hbspt-form fieldset {
  max-width: 100% !important;
}


@media (max-width: 991px) {
  .navbar-nav li:not(:last-child) {
    margin-right: 0;
  }
  .info-nav-tabs {
    flex-direction: column;
    justify-content: center;
  }
  .info-nav-tabs li:not(:last-child){
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .info, .hero-bg{
    padding: 30px 15px;
  }
  .info-nav-tabs li:not(:last-child){
    margin-right: 0 !important;
  }
  .info-white-logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .info-policy-links {
    justify-content: center;
  }
  .info-demo-list {
    display: flex;
    flex-direction: column;
  }
  .info-demo-list li:not(:last-child){
    margin-bottom: 10px !important;
  }
  .info-nav-tabs .nav-item{
    width: 100%;
  }
  .info-nav-tabs li .nav-link{
    width: 100%;
  }
  .info-nav-tabs {
    counter-reset: step;
  } 
  .info-nav-tabs li {
    counter-increment: step;
    position: relative;
    padding-left: 20px; /* space for number */
  }
  .info-nav-tabs li::before {
    content: counter(step);
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 600;
    color: #005F83; /* change if needed */
  }
}
@media (max-width: 576px) {
  .vh-100 {
    height: 120vh !important;
  }
  .info-before-list li:nth-child(even) {
    justify-content: start;
  }
  .info-before-card {
    width: 100% !important;
  }

}



/* SLICK CSS */
.slick-dots{
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 20px;
  list-style: none;
  text-align: center !important;
}
.slick-dots li{
  display: inline-block;
  margin-right: 10px;
}
.slick-dots li button {
  width: 12px;
  height: 12px;
  border: 0;
  border-radius: 50rem;
  background-color: #c9c9c9;
  text-indent: -999999px;
}
.slick-dots li.slick-active button{
  background-color:  #02C0FA;
}


.nav-pills-mobile-slider .slick-list{
  padding-right: 0;
}
.nav-pills-mobile-slider .slick-arrow {
    background: transparent;
    padding: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    color: #ffffff;
    z-index: 1;
    border: 0;
    font-size: 0;
    outline: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1;
    font-family: "Font Awesome 6 Free";
}
.nav-tabs-mobile-slider .slick-arrow, .nav-pills-mobile-slider .slick-arrow {
  color: #000;
  background: #adadad69;
}
.nav-tabs-mobile-slider .slick-arrow:hover, .nav-pills-mobile-slider .slick-arrow:hover {
  background: linear-gradient(to right, #02C0FA, #43DA38) !important;
  color: #fff;
}
.nav-pills-mobile-slider .slick-prev::before{
  content: '\f053';
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 14px;
}
.nav-pills-mobile-slider .slick-next::before {
  content: '\f054';
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 14px;
}
.nav-pills-mobile-slider .slick-arrow{
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.nav-pills-mobile-slider .slick-arrow.slick-prev{
    left: -40px;
}
.nav-pills-mobile-slider .slick-arrow.slick-next{
    right: -40px;
}
@media (max-width: 600px) {
    .nav-pills-mobile-slider .slick-arrow.slick-prev {
        left: -20px;
    }
    .nav-pills-mobile-slider .slick-arrow.slick-next {
        right: -20px;
    }
}